@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Flex Zone Fitness</h1>
    <p>Your Fitness, Our Priority</p>
    <p><a class="btn-members" href="/members">Join Now</a></p>
</div>

<div class="features">
    <div class="feature">
        <h3>Strength</h3>
        <p>Build muscle and increase your strength with our specialized training programs.</p>
    </div>
    <div class="feature">
        <h3>Stretch</h3>
        <p>Improve your flexibility and prevent injuries with our stretching classes.</p>
    </div>
    <div class="feature">
        <h3>Sweat</h3>
        <p>Burn calories and get your heart pumping with our cardio workouts.</p>
    </div>
    <div class="feature">
        <h3>Power</h3>
        <p>Enhance your endurance and power with our high-intensity interval training.</p>
    </div>
</div>

